fastapi
uvicorn[standard]
flask
jinja2
pydantic
pydantic-settings
python-multipart
requests
aiohttp
boto3
openpyxl
pyarrow
numpy
pandas
polars
sqlalchemy
alembic
greenlet
oracledb
PyMySQL
psycopg[binary]
pyodbc
duckdb
python-dotenv
pytest
httpx
click
fastparquet
apscheduler
pycryptodome
urllib3
python-docx
docxtpl
python-pptx
basedpyright
